* {
    margin: 0;
}
body {
    min-height: 100vh;
    display: flex; /*  flex da caixa */


}

footer {
    margin-top: auto;

    background: gray;
    color: white;

    height: 8rem;
    flex: 1; /* O footer e filho do flex por isso ocupa todo o espaço */

    display: flex;
    align-items: center;
    justify-content: center;

}
